/* General Stuff */
body {
	position: relative;
	background: #DDDCE2 url(../img/backgrounds/body_bg.jpg) repeat left top;
	-webkit-font-smoothing: antialiased;
	/* font-family: 'Lato', sans-serif !important; */
    font-family: 'Julius Sans One', sans-serif;
	padding-top: 107px;
}


/* About Section */
#about {
	font-family: 'Lato', sans-serif !important;
}

.circle_area {
	width: 250px;
	height: 250px;
    max-height: 100%;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    margin: 0 auto;
    position: relative;
}

#prof_pic {
    background: url('../img/prof.gif');
    background-repeat: no-repeat;
    background-size: contain;
    float: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#prof_left {
    padding-left: 0px;
    padding-right: 0px;
}

#prof_description {
    padding-top: 25px;
    padding-bottom: 25px;

}



/* Contact Section */
#contact {
/*    background-image: url(../img/backgrounds/light-squares.jpg);*/
    background-repeat: repeat;

}


#email {
    background: url('../img/icons/Social-Icon-email.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
}

#github {
    background: url('../img/icons/Social-Icon-github.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
}

.social-media {
    margin: 8px;
    width: 100px;
    height: 100px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.2);
}

.contact_info {
    /* Social Media */
    text-align: center;
}

#email-icon {
    
}

#about .intro p.description {
    font-size: medium;
}
