/* css for research.html */

#logo_row {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    height: 100%;
}

#logo_background {
    width: 100%;
    height: 100%;
}

#research_section {
    margin-left: auto;
    margin-right: auto;
}
